*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li{
  list-style: none;
}
.base{
  width: 960px;
  height: auto;
  margin: 0px auto;
}
table, th, tr {
  border: 1px solid black;
   box-sizing: border-box;
  }
table{
  width: 100%;
  height: auto;
}
tr{
  width: 100%;
}
.item{
 
  height: 30px;
  width: 310px;
  border: 1px solid black;
  
  box-sizing: border-box;
}
